@charset "ISO-8859-1";

        body {
            font-family: Arial, sans-serif;
            background-color: blue;
        }

        h1 {
            text-align: center;
            color: white;
        }

        table {
            width: 98%;
            margin:auto;
            border-collapse: collapse;
            background-color: #fff;
        }

        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            color: #333;
        }

        tr:hover {
            background-color: #f9f9f9;
        }
    